* {
    padding: 0;
    margin: 0;
    height: 100%;  
   
}

@font-face {
    font-family: "Aboreto";  
    src: url('./Aboreto-Regular.ttf') format('woff');  
    font-weight: 600; 
    font-style: normal;  
}

@font-face {
    font-family: "Avro";  
    src: url('./Arvo-Regular.ttf') format('woff');  
    font-weight: 400; 
    font-style: normal;  
}

  
#content {
    min-height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 243, 239);

}

.content-header {
    padding: 1rem;
    
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.header-links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 2rem;
}

.header-links a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Aboreto';
}


.content-body {
    
    padding: 4rem 5rem;
    width: 40%;
    height: 40vh;
    font-size: 22px;
    font-family: "Avro";
    line-height: 1.5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
    
    
}

#homeDiv {
    display: flex;
    flex-direction: column;
    
}




.content-footer {
    max-height: 300px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;   
  }


.kitchen-pic {
    height: 300px; 
    margin-top: 6rem;  
}

.kitchen-2 {
    width: 90%;
}


.info-div {
    
    color: white;
    font-size: 20px;
    min-height: 100%;
    width: 100%;
    

    display: flex;
    padding-left: 1rem;
    text-align: bottom;

    
}

.award-div {
    
    color: white;
    font-size: 20px;
    min-height: 100%;
    width: 100%;
    

    display: flex;
    padding-left: 1rem;
    text-align: bottom;

    
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    margin-bottom: -45rem;
}

.text-field {
    padding: .3rem .5rem;
    height: 2rem;
    margin-bottom: -27rem;
    
}

.submit-btn {
    height: 2rem;
    padding: .3rem .5rem;
    margin-bottom: 12rem;
}

